
/*nav*/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align:left;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {display: none;}
#cssmenu {line-height: 1;max-width:1200px;float:right;width:77%; position:relative; margin-top:6px}

#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul{float:right;}
#cssmenu > ul > li {float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li{-moz-transition: all 0.3s;-o-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;padding:0 16px;}
#cssmenu > ul > li:last-child{ padding-right:0}
#cssmenu > ul > li > a {
	line-height:44px;
  font-size: 15px; font-family: 'poppins-semibold';
  text-decoration: none;
  text-transform:uppercase;
  color:#444444;    border-bottom: 2px solid #fff;

}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color:#fbbc2c;    border-bottom:2px solid #fbbc2c;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #fbbc2c;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index:999999;
  box-shadow:0 0 20px 2px rgba(0,0,0,0.05);
}
#cssmenu li:hover > ul {
  left: auto;
}

#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 220px;
  top: 0;
  padding-top:0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease; position:relative
}
#cssmenu ul li> ul{ background:#fff;}
#cssmenu ul li:hover > ul > li {
  height: auto;
}
#cssmenu ul ul li a {
  padding:12px 10px 10px;
  width: 230px;
  font-size: 13px;
  text-decoration: none;
  color: #555;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
  line-height:12px;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #fff; background:#fbbc2c
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 12px;
  right: 10px;
  content: "\f0da";
  font-family:FontAwesome;
  color:#bbb;
  font-size:12px;
}
#cssmenu ul ul li.has-sub:hover > a::after,
#cssmenu ul ul li.has-sub a:hover::after{
	 color:#fff;
	}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}


@media (max-width: 1199px){
	#cssmenu > ul > li{padding:0 10px;}
	#cssmenu > ul > li > a{ font-size:14px;}
}
@media only screen and (max-width: 1024px) {
	
	#cssmenu{ width:80%;}
}
@media only screen and (max-width: 963px) {
		#cssmenu{ width:100%; float:none}
	}
@media only screen and (max-width: 936px) {
	#cssmenu > ul > li{padding:0 12px;}
	}
@media only screen and (min-width: 768px) {

#cssmenu > ul > li > ul {
  position: absolute;
  margin: 46px 0 0 -0px; height:0px;
  transition:all 0.5s ease 0s;
  filter:alpha(opacity:0);opacity:0;
 top:46px;
 box-shadow:3px 3px 10px rgba(0,0,0,0.1);

}
#cssmenu > ul > li:hover > ul {
  margin: 0 0 0 0px; height:auto;
  filter:alpha(opacity:100);opacity:1;
 
}
#cssmenu > ul > li > ul > li > ul{
  margin-left: 95%;
  top: 0;
  padding: 0px 0 0 0px;
  transition:all 0.5s ease 0s;
  filter:alpha(opacity:0);opacity:0;

}
#cssmenu > ul > li > ul > li:hover > ul{
 transition:all 0.5s ease 0s;
  margin-left: 100%;
  top: 0;
  padding: 0px 0 0 0;
  filter:alpha(opacity:100);opacity:1;
}

}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 768px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 768px), only screen and (min-device-pixel-ratio: 2) and (max-width: 768px), only screen and (min-resolution: 192dpi) and (max-width: 768px), only screen and (min-resolution: 2dppx) and (max-width: 768px) {
  #cssmenu {
    width: 100%;
	z-index:999999;
	padding:0;
	margin:0;
	position:inherit;
  }
  #cssmenu>ul {
    width: 100%;
    display: none;
	background:#fff;
	padding:10px;
	margin-top:5px;
	box-shadow:0 0 20px 2px rgba(0,0,0,0.05);  
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
	padding:12px 10px 11px;
	font-size:13px;
	border:none;
	
  }
    #cssmenu > ul > li{ position:relative}
  #cssmenu > ul > li:hover > a, #cssmenu > ul > li.active > a{border-radius:0;color:#fbbc2c;border:none;}
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
	padding:0;
	margin:0;
	background:none;
	border-bottom:1px solid #ebebeb;
	
  }
  #cssmenu > ul > li > a{ line-height:20px; padding:12px 10px 6px}
  #cssmenu ul ul li a {
    
    background: none;
  }
  #cssmenu ul ul ul{max-height:200px;overflow-y:auto;}
  #cssmenu ul ul ul li a {}
  #cssmenu ul li > ul{padding:5px 0 ;background:#fff;}
  #cssmenu ul li:hover > ul{background:#fff;}
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #fff;
  }
  #cssmenu ul ul ul li a:before{content:"\f0da";padding-right:5px;font-family:FontAwesome;color:#ccc;}
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin:5px 0;
  }
  #cssmenu ul ul ul ul{max-height:200px;overflow-y:auto;}
  #cssmenu ul ul ul ul li a {padding:5px;}

  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display:inline-block;
    color: #fff;
	background:#fbbc2c;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
	position:absolute;
	right:15px;
	top:77px;
	text-indent:-99999px;
	width:34px;
	height:34px;text-align:center;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 7px;
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 7px;
    display: block;
    width: 20px;
    height: 8px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    height: 36px;
    width: 10%;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 13px;
    right:15px;
    display: block;
    width: 2px;
    height: 12px;
    background: #000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    right:10px;
    top: 18px;
    display: block;
    width: 12px;
    height: 2px;
    background: #000;
    z-index: 99;
  }
  
  #cssmenu .submenu-button.submenu-opened:after {display:none;}
  #cssmenu .submenu-button.submenu-opened:before {background:#333;}
  #cssmenu li.has-sub ul li.has-sub span.submenu-opened:before{background:#fff;}

}
@media only screen and (max-width: 325px) {
	  #cssmenu #menu-button { top:78px;}
}


